@charset "UTF-8";



body {
    background-color: #0D1821;
    font: normal 15pt Arial;
}

section {
    background: white;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.353);
    width: 530px;
    height: auto;
    margin-top: -55px;

    position: relative;
    top: 150px;
}

header {
    color: black;
    text-align: left;
}

h1 {
    left: auto;
    margin-top: -10px;
}

.input {
    border: #0D1821 3px solid;
    width: 500px;
    padding: 10px;
    border-radius: 15px;
}
input:focus {
    box-shadow: 0px 0px 4px #000;
}


hr {
    width: 15%;
    margin-left: 0;
    margin-top: -20px;
    border-width: 3px;
    border: none;
    height: 1.5px;
    background-color: #0D1821;

}

button {
    background-color: #0D1821;
    border: #0D1821 3px solid;
    width: 530px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 40px;
}

div {
    margin-top: -5px;
}
/* COR 1 AZUL ESCURO: 0D1821 */
/* COR 2 AZUL CLARO: 344966 */