@charset "UTF-8";

body {
    background-color: #0D1821;
    font: normal 15pt Arial;
}

section {
    background: white;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.353);
    width: 530px;
    height: auto;
    margin-top: 60px;

    position: relative;
    top: 150px;
}

header {
    color: black;
    text-align: left;
}

h1 {
    left: auto;
    margin-top: -10px;
}

hr {
    width: 15%;
    margin-left: 0;
    margin-top: -20px;
    border-width: 3px;
    border: none;
    height: 1.5px;
    background-color: #0D1821;
    
}

button {
    background-color: #0D1821;
    border: #0D1821 3px solid;
    width: 530px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 40px;
}

.input-erro {
    border: #982821 3px solid;
    width: 500px;
    padding: 10px;
    border-radius: 15px;
}
.input {
    border: #0D1821 3px solid;
    width: 500px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    margin-top: -10px;
}

input:focus {
    box-shadow: 0px 0px 4px #000;
}

.msg-erro {
    font-size: 15px;
    color: #982821;
    padding: 5px;
    margin: 5px ;
    width: 170px;
    border-radius: 3px;
}

#span-required {
    display: none;
    font-size: 15px;
    color: #982821;
    padding: 5px;
    margin: 5px 0px 0px 1px;
}
/* COR 1 AZUL ESCURO: 0D1821 */
/* COR 2 AZUL CLARO: 344966 */